<div class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand"
      >TeleTracker <i class="fas fa-tv"></i
    ></a>
    <div>
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/discover" class="nav-link">Discover</a>
        </li>
        <div *ngIf="!isLoggedIn()" class="row ml-5">
          <li
            class="nav-item"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/register" class="nav-link">Register</a>
          </li>
        </div>
        <div *ngIf="isLoggedIn()" class="row ml-5">
          <li
            class="nav-item"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/profile" class="nav-link"
              >Welcome
              {{ authService.decodedToken?.unique_name | titlecase }}</a
            >
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a (click)="logout()" href="#" class="nav-link">Logout</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
