<div
  class="row justify-content-around mt-5"
  *ngIf="shows | async as shows; else loading"
>
  <div class="card col-md-3 mb-2" *ngFor="let show of shows">
    <img class="card-img-top" src="{{ show.posterPath }}" />
    <i
      class="fa-check-circle fa-2x subscribe"
      [ngClass]="true ? 'fas' : 'far'"
      (click)="subscribeToShow(show.id)"
    ></i>
    <div class="card-body">
      <h5 class="card-title">{{ show.name }}</h5>
      <p class="card-text">{{ show.overview | readMore }}</p>
      <a routerLink="/show/{{ show.id }}">View</a>
    </div>
  </div>
</div>
<ng-template #loading> <app-loader></app-loader></ng-template>
