<div
  class="row justify-content-center header"
  [ngStyle]="{ 'background-image': getUrl() }"
  *ngIf="show !== undefined"
>
  <h3>{{ show.title }}</h3>
</div>
<div class="show-detail">
  <p class="mt-3">
    <i>{{ show.firstAirDate | date }}</i> - {{ show.genres.join(', ') }}
  </p>
  <p>{{ show.overview }}</p>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngIf="show.seasons.length > 0" label="Seasons">
    <ul *ngFor="let season of show.seasons">
      <app-season [season]="season"></app-season>
    </ul>
  </mat-tab>
  <mat-tab label="Reviews"> </mat-tab>
</mat-tab-group>
